#task1{
    width: 100%;
}
.rating{
    width: 220px;
    height: 40px;
    margin: 50px auto;
}
.rating li{
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url("images/star.svg") no-repeat;
    background-size: cover;
}
.rating .hovered{
    background-position-y: -37px;
}
.rating .current{
    background-position-y: -75px;
}
.progressBar{
    position: relative;
    width: 200px;
    height: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: inset -1px 1px 1px lightgrey;
}
.progress{
    width: 20%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(#A7F458, #65C41F, #6CD019);
}
.progressCount{
    position: absolute;
    font-size: 0.8em;
    top: 30%;
    left: 45%;
}
.btn{
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-family: inherit;
    line-height: 1.4;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background: linear-gradient( #F3F3F2, #E2E2E2);
    color: black;
}
.btn:hover{
    outline: 0;
    color: white;
    background: #286090;
    border-color: #204d74;
}
.btn:focus{
    outline: 0;
}
.btn:active{
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.2);
}
.btn-sm{
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-lg{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3;
    border-radius: 6px;
}
#task3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.col-1-3{
    display: inline-flex;
    box-sizing: border-box;
    width: 30%;
    justify-content: center;
    padding: 20px;
}
.bgGreen{
    background: #55A731;
}
.bgRed{
    background: #C73329;
}
.bgBlue{
    background: #43ABEB;
}
#task4{
    width: 90vw;
    margin: 0 auto;
}
#imageList{
    list-style-type: none;
    display: flex;
    align-items: center;
}
#imageList > li{
    padding: 20px;
}
#imageList > li:last-child {
    display: flex;
    flex: 1;
    align-self: flex-end;
    justify-content: flex-end;
}
.correct figcaption{
    display: none;
}
.green{
    color: green;
}
.red{
    color: red;
}
.orange{
    color: orange;
}
.gray{
    color: #818181;
}
.blue{
    color: royalblue;
}