@font-face {
    font-family:'GothamProRegular';
    src: url('fonts/GothamProRegular.ttf');
}
body{
    background: #1e1d31 url("images/bg.png") top center / cover no-repeat fixed;
    font: normal 12px/12px 'GothamProRegular', sans-serif;
    color: #ecebeb;
    text-align: center;
    padding: 0 5vw;
}
.logo{
    width: 15vh;
    margin: 5vh auto;
}
.logo > img{
    width: 100%;
    max-width: 100px;
}
.title{
    margin-top: 10vh;
    text-align: right;
    font: normal 3em 'GothamProRegular', sans-serif;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
}
.title-selection{
    color: #ffde2a;
    font: normal 2.5em/0.9 'GothamProRegular', sans-serif;
    display: inline-flex;
}
.description{
    margin: 2vh;
}
.slogan{
    text-transform: uppercase;
    font: normal 1.2em/1.2 'GothamProRegular', sans-serif;
    margin-top: 15vh;
    margin-bottom: 5vh;
}
.buttons-container{
    max-width: 800px;
    margin: 0 auto;
}
.btn{
    position: relative;
    margin: 10px;
    height: 40px;
    width: 200px;
    font: bold 0.8em "GothamProRegular", sans-serif;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #1c1c1c;
    background-color: #ffde2a;
    cursor: pointer;
    border: 0;
    outline: none;
}
.btn::after{
    content: "";
    position: absolute;
    height: 1.5em;
    width: 2em;
    vertical-align: center;
    margin-left: 15%;
}
.btn-tlg::after{
    content: "";
    background: url("images/telegram.png") center center / contain no-repeat;
}
.btn-msg::after{
    content: "";
    background: url("images/messenger.png") center center / contain no-repeat;
}
@media screen and (min-width: 1367px){
    body{
        font-size: 20px;
    }
    .title{
        font-size: 4em;
    }
    .description{
        font-size: 1.4em;
        line-height: 1em;
    }
    .slogan{
        font-size: 1.6em;
    }
    .btn{
        width: 300px;
        height: 60px;
    }
}
@media screen and (min-width: 601px)and (max-width: 1366px){
    .title{
        font-size: 3.4em;
    }
    .description{
        font-size: 1.2em;
        line-height: 1em;
    }
    .slogan{
        font-size: 1.4em;
    }
}
@media screen and (min-width: 401px) and (max-width: 600px){
    .title{
        font-size: 2.2em;
    }
    .description{
        font-size: 0.9em;
        line-height: 1em;
    }
    .slogan{
        font-size: 0.9em;
    }
}
@media screen and (max-width: 400px){
    .title{
        font-size: 1.8em;
    }
    .description{
        font-size: 0.7em;
        line-height: 0.9em;
    }
    .slogan{
        font-size: 0.75em;
    }
}
